.post {
  border: none;

  .ant-card-meta {
    padding: 20px;
  }
  .ant-card-body {
    padding: 0;
  }
  .ant-avatar {
    height: 100%;
    width: 100%;
  }
  .ant-card-actions > li > span > .anticon {
    font-size: 22px;
  }
}
.post__description {
  .ant-card-meta-description {
    color: rgba(0, 0, 0, 0.85)
  }
}
.post__image {
  width: 100%;
}
.post__stats {
  display: flex;
  padding: 20px;

  .stats-item {
    margin-right: 20px;
  }
}
