$space-amounts: (0 5 10 20);
$sides: (top, bottom, left, right);

@each $space in $space-amounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

.bordered {
  border: 1px solid #e8e8e8;
}

@media screen and (max-width: 768px) {
  .bordered {
    border: 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
}
